<!--footer -->
<footer class="py-lg-5 py-3">
    <div class="container-fluid px-lg-5 px-3">
        <div class="row footer-top-nikelayout">
            <div class="col-lg-3 footer-grid-w3ls">
                <div class="footer-title">
                    <h3>About Us</h3>
                </div>
                <div class="footer-text">
                    <p>Welcome to Nike SHOP, Move, Shop, Customise & Celebrate With Us
                        No matter what you feel like doing today, It’s better as a Member.Join Us</p>
                    
                </div>
            </div>
            
            <div class="col-lg-3 footer-grid-w3ls">
                <div class="footer-title">
                    <h3>Get in touch</h3>
                </div>
                <div class="contact-info">
                    <h4>Location :</h4>
                    <p>Thrissur, Kerala , India</p>
                    <div class="phone">
                        <h4>Contact :</h4>
                        <p>Phone : +91 99999100001</p>
                        <p>Email :
                            <a href="">nikeclone2024@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 footer-grid-w3ls">
                <div class="footer-title">
                    <h3>Quick Links</h3>
                </div>
                <ul class="links">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
        
                    <li>
                        <a href="/shop">Shop</a>
                    </li>
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 footer-grid-w3ls">
                <div class="footer-title">
                    <h3>Sign up for your offers</h3>
                </div>
                <div class="footer-text">
                    <p>By signing up to our site  you will always get latest offers and updates from us.</p>
                </div>
            </div>
        </div>
        <div class="copyright-nikelayout mt-4">
            <p class="copy-right text-center ">&copy; 2024 Nike. All Rights Reserved | Clone website Designed for learning purpose only.
            
            </p>
        </div>
        
    </div>
</footer>
<!-- //footer -->
 