<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet">
    <style>
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }
    </style>
</head>
<body>

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                     class="img-fluid" alt="Phone illustration">
            </div>
           
            <div class="col-md-7 col-lg-5 col-xl-4 offset-xl-1">
               <h4>Login</h4>
                <form action="/login" method="post">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" name="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required>
                        <label class="form-label" for="form1Example13">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" name="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="" required>
                        <label class="form-label" for="form1Example23">Password</label>

                        <div id="error2" class="error-message"></div>

                    </div>

                    <%if(locals.message && message.length>0){%>
                        <div class="alert alert-danger text-center">
                            <%=message%>
                        </div>
                        <%}%>

                    <!-- Remember me and Forgot password -->
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <!-- <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked>
                            <label class="form-check-label" for="form1Example3">Remember me</label>
                        </div> -->
                        <a href="/login/forget-password" class="text-decoration-none" style="color: rgb(53, 49, 49);">Forgot password?</a>
                        <button type="submit" class="btn btn-black btn-lg" style="width: 160px; border-radius: 25px; margin-left: auto;">Login</button>
                    </div>

                    <!-- Submit button -->
                    <!-- <div style="display: flex;">
                        <button type="submit" class="btn btn-black btn-lg" style="width: 160px; border-radius: 25px; margin-left: auto;">Login</button>
                    </div> -->
                    

                    <!-- Divider -->
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                    </div>

                    <!-- Social login buttons -->
                    <a class="btn btn-primary btn-lg btn-block mb-2" style="background-color: #3b5998;" href="/auth/google" role="button">
                        <i class="fab fa-google fa-lg">  </i> Sign in with Google

                    </a>
                    <!-- <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee;" href="#!" role="button">
                        <i class="fab fa-twitter me-2"></i>Continue with Twitter
                    </a> -->
                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>
</body>
</html>
